{% extends 'base.html' %}

{% block content %}

    <div style="margin: 2rem; text-align: center">
        <h1 style="font-family: 'Pacifico', cursive"
            class="m-5">
            hello world list
        </h1>

        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}
            <div class="input-group mb-3 w-50 m-auto">
                <input type="text" class="form-control"
                       name="hello_world_input">
                <button class="btn btn-dark" type="submit" >
                    Button
                </button>
            </div>
        </form>

        {% if hello_world_list %}

            {% for hello_world in hello_world_list %}
                <h3>{{ hello_world.text }}</h3>
            {% endfor %}

        {% endif %}
    </div>

{% endblock %}