    <div class="text-center my-4">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"
               class="btn btn-secondary rounded-pill">
                {{ page_obj.previous_page_number }}
            </a>
        {% endif %}
            <a href="#"
               class="btn btn-dark rounded-pill NNS_B">
                {{ page_obj.number }}
            </a>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"
               class="btn btn-secondary rounded-pill">
                {{ page_obj.next_page_number }}
            </a>
        {% endif %}
    </div>