{% extends 'base.html' %}

{% block content %}

    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <img src="{{ target_project.image.url }}"
                 class="profile_image m-4"
                 alt="profile image">
            <h2 class="NNS_B">
                {{ target_project.name }}
            </h2>
            <h5>{{ target_project.description }}</h5>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="text-center">
        {% if not subscription %}
        <a href="{% url 'subscribeapp:subscribe' project_pk=target_project.pk %}"
           class="btn btn-primary rounded-pill px-5">
            Subscribe
        </a>
        {% else %}
        <a href="{% url 'subscribeapp:subscribe' project_pk=target_project.pk %}"
           class="btn btn-secondary rounded-pill px-5">
            Unsubscribe
        </a>
        {% endif %}
    </div>
    {% endif %}

    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>


{% endblock %}