.pragmatic_header_logo {
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
}

.pragmatic_header_button {
    margin-bottom: 2rem;
}

.pragmatic_footer_button {
    font-size: 0.8rem;
    margin: 1.5rem
}